* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(/static/images/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0f2e9;
}

.calculator {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #004574;
    border-radius: 10px;
    background-color: rgb(24, 38, 57);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.display {
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border: 2px solid #bdc3c7;
    border-radius: 10px;
    font-size: 28px;
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#display {
    width: calc(100% - 30px);
    height: 50px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: right;
    margin: 10px 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

button {
    width: 80px;
    height: 80px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #283b48;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    outline: 1px solid #072030;
    transition: outline 0.8s ease 0s;
}

button:nth-child(20) {
    background-color: #363a43;
}

button:hover {
    background-color: rgb(50, 70, 82);
    color: #ecf0f1;
    outline: 5px solid #cbdeff;
}
